.products-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px; 
}

.products-list article {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.products-list p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.products-list a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.products-list a:hover {
    background: #da552f;
    color: #fff;
}

.products-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.products-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.products-list .actions button:hover {
    opacity: 0.7;
}

.products-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.products-list .actions button[disabled]:hover {
    opacity: 0.5;
}